<div class="container" style="height: 100%;">
    <div class="container w-50 d-flex justify-content-center align-items-center" style="height: 100%;">
        <form >
            <div class="row">
                <div class="col text-center">
                    <h1>Add Category Details</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="" class="form-label">Area</label>
                        <select class="form-select form-select-lg" name="" id="">
                            <option selected>Select one</option>
                            <option value="">New Delhi</option>
                            <option value="">Istanbul</option>
                            <option value="">Jakarta</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="" class="form-label">Item</label>
                        <select class="form-select form-select-lg" name="" id="">
                            <option selected>Select one</option>
                            <option value="">New Delhi</option>
                            <option value="">Istanbul</option>
                            <option value="">Jakarta</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col ">
                    <button type="submit" class="btn btn-primary w-100">
                        Submit
                    </button>

                </div>
            </div>
        </form>
    </div>
</div>