<p-table [value]="areaData" [tableStyle]="{ 'min-width': '50rem' }" >
    <ng-template pTemplate="header">
        <tr>
            <th style="width:25%">Id</th>
            <th style="width:25%">Name</th>
            <th style="width:25%">Type</th>
            <th style="width:25%">Sequence</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
        <tr>
            <td>{{ customer._id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.type }}</td>
            <td>{{ customer.sequence }}</td>
        </tr>
    </ng-template>

</p-table>

<p-paginator (onPageChange)="onPageChange($event)" [first]="0" [rows]="size" [totalRecords]="totalRecords" 
    [rowsPerPageOptions]="[size,10, 20, 30]"></p-paginator>